{
  "presets": [
      "next/babel"
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import"],
  "env": {
      "test": {
          "presets": [
              [
                "next/babel",
                {
                  "styled-jsx": {
                    "babel-test": true
                  }
                }
              ]
            ]
      }
  }
}